name: Build and Release EXE

on:
  push:
    paths:
      - 'ping.py'  # Include any files you want to track changes for
      - 'requirements.txt'  # If changes to dependencies should trigger a release
    branches:
      - main  # Ensure it only triggers on the main branch
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'  # Set the desired Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install PyInstaller
      run: pip install pyinstaller

    - name: Build EXE with PyInstaller
      run: pyinstaller --onefile ping.py  # Replace with your script filename

    - name: Archive the EXE
      run: zip -r ping_script.zip dist/

    - name: Create tag for release
      id: create_tag
      run: |
        TAG_NAME="v$(date +'%Y%m%d%H%M%S')"  # Create a unique version based on the timestamp
        git tag $TAG_NAME
        git push origin $TAG_NAME
        echo "::set-output name=tag::$TAG_NAME"
        echo "tag_name=$TAG_NAME" >> $GITHUB_ENV  # Save the tag name to an environment variable


    - name: Upload release assets
      uses: softprops/action-gh-release@v1
      with:
        files: ping_script.zip  # Change to your EXE file name or path
        tag_name: ${{ env.tag_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: steps.create_tag.outputs.tag != ''
